<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="home">
    <p class="ion-text-wrap" >Bem-vindo ao Rastreador dos Correios! </p>
    <p class="ion-text-wrap">Para rastrear um objeto, deslize a tela para a direita e clique na opção pesquisar, depois é só digitar o código de rastreio e a pesquisa será feita. </p>
    <p class="ion-text-wrap">Para adicionar um objeto aos favoritos, pesquise o seu código de rastreio e clique no botão com o icone de coração, selecione a opção adicionar aos favoritos e depois é só deslizar a tela para a direita e clicar em favoritos que o objeto estará lá. </p>
    <p class="ion-text-wrap">Para remover um objeto dos favoritos, vá até a página de favoritos, selecione o objeto que você deseja remover ou pesquise o seu código de rastreio, e depois clique no botão com o icone de coração partido, selecione a opção remover dos favoritos e o objeto será removido. </p>
  </div>
</ion-content>